[Unit]
Description=LCD menu from Adafruit

[Service]
Type=simple
PIDFile=/var/run/lcd.pid
ExecStart=/usr/bin/python2 /root/lcd_menu/RPi_lcdloop.py daemon

[Install]
WantedBy=multi-user.target
